@media (min-width: 768px) {

  #menu {
    display: none;
  }

  nav {
    display: block;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav li {
    margin: 0 1rem;
  }

  #courses {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
