@media screen and (min-width: 768px) {
    /* Hide hamburger menu */
    .hamburger {
        display: none;
    }
    
    /* Show navigation as horizontal */
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--primary-color);
    }
    
    .navigation li {
        width: auto;
    }
    
    .navigation a {
        border-bottom: none;
        padding: 1rem 2rem;
    }
    
    /* Adjust course cards grid */
    .course-cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
    /* Project cards layout */
    .project-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

/* Additional large screen adjustments */
@media screen and (min-width: 1024px) {
    .course-cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    
    main {
        padding: 2rem;
    }
}
